.pagination .page-link {
    width: 42px;
    height: 42px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 6px;
    border-radius: 12px !important;
    background-color: #f0f4f6;
    color: #24292f;
    border: none;
    transition: background-color 0.3s, color 0.3s;
    font-weight: 500;
    font-size: 16px;
}

.pagination .page-link:focus {
    box-shadow: none;
}

.pagination .page-link:hover {
    background-color: #e8e9eb;
    color: #111;
}

.pagination .active .page-link {
    background-color: #3E99E3;
    color: white;
    box-shadow: 0 0 4px #3E99E3, 0 0 8px #3E99E3;
}

.pagination .disabled .page-link {
    background-color: transparent;
    color: #111;
}

.page-link i {
    font-size: 16px;
    font-weight: bold;
}

.tag {
    display: inline-block;
    background-color: #f0f4f6;
    color: #24292f;
    font-size: 13px;
    padding: 4px 8px;
    border-radius: 6px !important;
    transition: background-color 0.3s, color 0.3s;
    font-weight: 600;
    text-decoration: none;
}

.tag:hover {
    background-color: #e8e9eb;
    color: #111;
}

.btn-primary:hover {
    background-color: #0F80CB !important;
}

.btn-outline-primary:hover, .btn-primary {
    border-color: #3E99E3 !important;
    background-color: #3E99E3 !important;
}