.pagination .page-link {
    width: 42px;
    height: 42px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 6px;
    border-radius: 12px !important;
    background-color: #f0f4f6;
    color: #212529;
    border: none;
    transition: background-color 0.3s;
    font-weight: 500;
    font-size: 16px;
}

.pagination .page-link:focus {
    box-shadow: none;
}

.pagination .page-link:hover {
    background-color: #e8e9eb;
    color: #111;
}

.pagination .active .page-link {
    background-color: #0e5fff;
    color: white;
    box-shadow: 0 0 4px #0b5ed7, 0 0 8px #0b5ed7;
}

.pagination .disabled .page-link {
    background-color: transparent;
    color: #111;
}

.page-link i {
    font-size: 16px;
    font-weight: bold;
}