{% extends "layout/base.html" %}
{% load static %}

{% block content %}
<div class="d-flex flex-column align-items-start gap-2">
    <h3 class="mb-5 text-center fw-bold">Ask a question</h3>
    <div class="card p-4" style="width: 100%; background-color: #E2E9F4;">
        <div class="mb-3 d-flex flex-column align-items-start">
            <label for="title" class="form-label fw-bold">Title</label>
            <small class="text-muted mt-1">Enter a short and clear title for your question</small>
            <input type="text" class="form-control" id="title" name="title" placeholder="e.g. How to center a div in CSS?" required>
        </div>

        <div class="mb-3 d-flex flex-column align-items-start">
            <label for="question" class="form-label fw-bold">Body</label>
            <small class="text-muted">Describe your problem or question in detail</small>
            <textarea class="form-control" id="question" name="question" rows="10" placeholder="e.g. I tried using flexbox, but the div isn't centered..." required></textarea>
        </div>

        <div class="mb-4 d-flex flex-column align-items-start">
            <label for="tags" class="form-label fw-bold">Tags</label>
            <small class="text-muted">Add relevant tags separated by commas</small>
            <input class="form-control" type="text" id="tags" name="tags" placeholder="e.g. css, html, flexbox" required>
        </div>
    </div>
    <div class="text-center mt-2">
        <button class="btn btn-primary px-5 py-2" id="submitButton" type="submit">Post your question</button>
    </div>
</div>
{% endblock %}