{% extends "layout/base.html" %}
{% load static %}
{% load bootstrap5 %}

{% block content %}
<div class="d-flex justify-content-center align-items-center mt-3">
    <div class="card p-4" style="width: 50rem; height: 100%; background-color: #E2E9F4;">
        <h3 class="mb-3">Login</h3>
        <form action="{% url "login" %}" method="POST">
            {% csrf_token %}
            {% bootstrap_form form %}
            <input type="hidden" name="next" value="{{ next }}">
            <div class="d-grid">
                <button type="submit" class="btn btn-primary">Login</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}