{% extends "layout/base.html" %}
{% load bootstrap5 %}

{% block content %}
<div class="container-fluid px-0">
    <div class="row gx-4">
        <div class="col-auto">
            <div class="d-flex flex-column align-items-start">
                <div class="border rounded-3 overflow-hidden mb-2" style="width: 150px; height: 150px;">
                    <img src="{{ question.questioner.profile.avatar.url }}" alt="avatar" class="img-fluid object-fit-cover w-100 h-100">
                </div>
                <input type="number" class="form-control text-center mt-2" value="{{ question.like_count }}" style="width: 80px;">
            </div>
        </div>

        <div class="col">
            <div class="mb-4">
                <h3>{{ question.title }}</h3>
            </div>
            <div class="mb-4">
                <p class="fs-5">{{ question.body }}</p>
            </div>

            <div class="d-flex flex-wrap align-items-center gap-2 mt-4">
                {% for tag in question.tags.all %}
                    <a class="tag" href="{% url 'tag' tag.name %}">{{ tag.name }}</a>
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="mt-5">
        <h4 class="mb-4">{{ answers|length }} Answers</h4>

        {% for answer in answers %}
            {% include "layout/answer.html" %}
        {% endfor %}
    </div>

    {% if user != question.questioner %}
    <div class="mt-5">
        <h4 class="mb-3">Your Answer</h4>
        <form action="{% url "question" question.id %}" method="POST">
            {% csrf_token %}
            {% bootstrap_form form show_label=False %}
            <button type="submit" class="btn btn-primary mb-4">Post Your Answer</button>
        </form>
    </div>
    {% endif %}
</div>
{% endblock %}