{% extends "layout/base.html" %}
{% load bootstrap5 %}

{% block content %}
<div class="container-fluid px-0">
    <div class="row gx-4">
        <div class="col-auto">
            <div class="d-flex flex-column align-items-start">
                <div class="border rounded-3 overflow-hidden mb-2" style="width: 150px; height: 150px;">
                    <img src="{{ question.questioner.profile.avatar.url }}" alt="avatar" class="img-fluid object-fit-cover w-100 h-100">
                </div>
                <div class="d-flex justify-content-center align-items-center mt-2">
                    <button class="btn btn-white border-secondary rounded-circle d-flex justify-content-center align-items-center
                            {% if question.user_vote == False %}active{% endif %}"
                            style="width: 50px; height: 50px;"
                            data-object-id="{{ question.id }}"
                            data-is-like="0"
                            data-is-question="1">
                      <i class="bi bi-caret-down-fill fs-3"></i>
                    </button>
                    <div data-object-rating-counter="{{ question.id }}" class="mx-1 fw-bold fs-5 d-flex justify-content-center" style="width: 40px;">
                        {{ question.rating }}
                    </div>
                    <button class="btn btn-white border-secondary rounded-circle d-flex justify-content-center align-items-center
                            {% if question.user_vote == True %}active{% endif %}"
                            style="width: 50px; height: 50px;"
                            data-object-id="{{ question.id }}"
                            data-is-like="1"
                            data-is-question="1">
                      <i class="bi bi-caret-up-fill fs-3"></i>
                    </button>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="mb-4">
                <h3>{{ question.title }}</h3>
            </div>
            <div class="mb-4">
                <p class="fs-5">{{ question.body }}</p>
            </div>

            <div class="d-flex flex-wrap align-items-center gap-2 mt-4">
                {% for tag in question.tags.all %}
                    <a class="tag" href="{% url 'tag' tag.name %}">{{ tag.name }}</a>
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="mt-5"  id="answer-container">
        <h4 class="mb-4">{{ answers|length }} Answers</h4>

        {% for answer in answers %}
            {% include "layout/answer.html" %}
        {% endfor %}
    </div>

    <div class="mt-5" id="answer">
        {% if user != question.questioner %}
        <h4 class="mb-3">Your Answer</h4>
        <form action="{% url "question" question.id %}" method="POST">
            {% csrf_token %}
            {% bootstrap_form form show_label=False %}
            <button type="submit" class="btn btn-primary mb-4">Post Your Answer</button>
        </form>
        {% endif %}
    </div>
</div>

<div class="card shadow-sm rounded-4 p-3 mb-2 d-none" data-search="answer-template">
  <button class="btn btn-link accept-answer-btn text-secondary position-absolute"
                            style="top: 10px; right: 10px; font-size: 3rem;"
                            data-answer-id=""
                            data-question-id="{{ questionId }}">
      <i class="bi bi-check-circle"></i>
  </button>
  <div class="row g-3 align-items-center">
    <div class="col-auto text-center">
      <div class="border rounded-3 overflow-hidden" style="width: 120px; height: 120px;">
        <img src="" alt="img" class="img-fluid object-fit-cover w-100 h-100">
      </div>
      <div class="d-flex justify-content-center align-items-center mt-2">
        <button class="btn btn-white border-secondary rounded-circle d-flex justify-content-center align-items-center"
                style="width: 36px; height: 36px;"
                data-object-id=""
                data-is-like="0"
                data-is-question="0">
          <i class="bi bi-caret-down-fill"></i>
        </button>
        <div data-object-rating-counter="" class="mx-1 fw-bold fs-5" style="width: 30px;"></div>
        <button class="btn btn-white border-secondary rounded-circle d-flex justify-content-center align-items-center"
                style="width: 36px; height: 36px;"
                data-object-id=""
                data-is-like="1"
                data-is-question="0">
          <i class="bi bi-caret-up-fill"></i>
        </button>
      </div>
    </div>
    <div class="col">
      <div class="d-flex flex-column h-100 justify-content-between me-3">
          <p class="mb-2"></p>
          <small class="text-muted"></small>
      </div>
    </div>
  </div>
</div>

{% if user.id == question.questioner.id %}
  <script>
    const IS_QUESTION_OWNER = true;
  </script>
{% else %}
  <script>
    const IS_QUESTION_OWNER = false;
  </script>
{% endif %}

<script>
    const CENTRIFUGO_TOKEN =  "{{ token }}"
    const CENTRIFUGO_URL =  "{{ ws_url }}"
    const QUESTION_CHANNEL = "{{ ws_channel }}"

    document.addEventListener("DOMContentLoaded", () => {
        const answerContainer = document.getElementById('answer-container')
        const answerTemplate = document.querySelector('[data-search="answer-template"]')

        const centrifuge = new Centrifuge(`ws://${CENTRIFUGO_URL}/connection/websocket`, {
          token: CENTRIFUGO_TOKEN
        });

        centrifuge.on('connecting', function (ctx) {
          console.log(`connecting: ${ctx.code}, ${ctx.reason}`);
        }).on('connected', function (ctx) {
          console.log(`connected over ${ctx.transport}`);
        }).on('disconnected', function (ctx) {
          console.log(`disconnected: ${ctx.code}, ${ctx.reason}`);
        }).connect();

        const sub = centrifuge.newSubscription(QUESTION_CHANNEL);

        sub.on('publication', function (ctx) {
            const {answer_id, username, avatar, text, rating} = ctx.data;

            const newAnswerElement = answerTemplate.cloneNode(true)

            const avatarImg = newAnswerElement.querySelector('img');
            avatarImg.src = avatar;

            const textParagraph = newAnswerElement.querySelector('p');
            textParagraph.textContent = text;

            const authorText = newAnswerElement.querySelector('small');
            authorText.textContent = `Author: ${username}`;

            const ratingCounter = newAnswerElement.querySelector('[data-object-rating-counter]');
            ratingCounter.textContent = rating;
            ratingCounter.setAttribute('data-object-rating-counter', answer_id);

            newAnswerElement.querySelectorAll('button[data-object-id]').forEach(btn => {
                btn.setAttribute('data-object-id', answer_id);
            });

            const acceptBtn = newAnswerElement.querySelector('.accept-answer-btn')
            if (IS_QUESTION_OWNER) {
                acceptBtn.classList.remove('d-none');
                acceptBtn.setAttribute('data-answer-id', answer_id);
            }
            else
                acceptBtn.remove();

            newAnswerElement.classList.remove('d-none');
            answerContainer.appendChild(newAnswerElement);

            const isNearBottom = () => {
                return (window.innerHeight + window.scrollY) >= (document.body.offsetHeight - 100);
            };

            const shouldScroll = localStorage.getItem('scrollOnAnswer') === 'true' || isNearBottom();

            if (shouldScroll) {
                window.scrollTo({ top: document.body.scrollHeight, behavior: 'smooth' });
                localStorage.removeItem('scrollOnAnswer');
            }
        }).on('subscribing', function (ctx) {
          console.log(`subscribing: ${ctx.code}, ${ctx.reason}`);
        }).on('subscribed', function (ctx) {
          console.log('subscribed', ctx);
        }).on('unsubscribed', function (ctx) {
          console.log(`unsubscribed: ${ctx.code}, ${ctx.reason}`);
        }).subscribe();
    })
</script>
{% endblock %}