<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Questions&Answers</title>
    <link href="/static/bootstrap-5.3.3-dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/bootstrap-icons-1.11.3/bootstrap-icons-1.11.3/font/bootstrap-icons.css" rel="stylesheet">
    <link href="/static/css/styles.css" rel="stylesheet">
</head>
<body style="font-family: Verdana;">
    <nav class="navbar bg-body-tertiary">
      <div class="page-content d-flex justify-content-between align-items-center">
          <a class="navbar-brand" href="{% url "index" %}"><img src="/uploads/images/logo.png" width="106" height="45"></a>
          <form class="d-flex" role="search" style="width: 30rem;">
              <input class="form-control me-2 rounded-pill" type="search" placeholder="Search..." aria-label="Search">
              <a class="btn btn-success" href="{% url "ask" %}" style="white-space: nowrap;">Ask Question</a>
          </form>
          {% if user.username %}
          <div class="d-flex me-3">
              <div class="pe-3">
                  <img src="{{ user.profile.avatar.url }}" class="object-fit-cover rounded-3" alt="your avatar" width="60" height="60">
              </div>
              <div class="user-panel">
                  <div class="user-info me-2">
                    <span class="user-name">{{ user.first_name }}</span>
                  </div>
                  <div class="user-actions d-flex gap-2">
                    <a href="{% url 'edit' %}" class="btn btn-link p-0" title="Settings">
                      <i class="bi bi-gear fs-4"></i>
                    </a>
                    <a href="{% url 'logout' %}" class="btn btn-link p-0" title="Log Out">
                      <i class="bi bi-box-arrow-right fs-4"></i>
                    </a>
                  </div>
              </div>
          </div>
          {% else %}
           <div class="d-flex">
               <div class="content">
                   <a href="{% url "login" %}" class="btn btn-outline-primary">Log in</a>
                   <a href="{% url "signup" %}" class="btn btn-primary">Sign up</a>
               </div>
          </div>
          {% endif %}
      </div>
    </nav>

    <main class="page-content">
        <div class="row">
            <div class="col vh-100 mt-4">
            {% block content %}
            {% endblock %}
            </div>
            <div class="col-3 mt-4">

                <section class="mb-3">
                    <h3>Popular tags</h3>
                    <div>
                        <span style="font-size: 0.8rem;">hot657</span>
                        <span class="text-danger">environment740</span>
                        <span class="text-success">story31</span>
                        <span class="text-warning">include748</span>
                        <span class="text-info">agreement32</span>
                        <span class="text-dark">page613</span>
                    </div>
                </section>

                <section>
                    <h3>Best members</h3>
                    <div>
                        <a class="d-block" href="#">Member</a>
                        <a class="d-block" href="#">Member</a>
                        <a class="d-block" href="#">Member</a>
                        <a class="d-block" href="#">Member</a>
                        <a class="d-block" href="#">Member</a>
                        <a class="d-block" href="#">Member</a>
                        <a class="d-block" href="#">Member</a>
                    </div>
                </section>

            </div>
        </div>
    </main>

    <script src="/static/bootstrap-5.3.3-dist/js/bootstrap.bundle.min.js"></script>
    <script src="/static/js/app.js"></script>
</body>
</html>