{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>AskDima</title>
    <link href="/static/bootstrap-5.3.3-dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/styles.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/bootstrap-icons-1.11.3/bootstrap-icons-1.11.3/font/bootstrap-icons.css">
</head>
<body style="font-family: Verdana;">
    <nav class="navbar bg-body-tertiary">
      <div class="container-fluid">
          <a class="navbar-brand fs-2">AskDima</a>
          <form class="d-flex" role="search">
              <input class="form-control me-2 rounded-pill" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-success rounded-0 border-3 border-dark" type="submit">ASK!</button>
          </form>
          {% if user.name %}
          <div class="d-flex">
              <div class="pe-3">
                  <img src="{% static "/images/avatar.png" %}" alt="your avatar">
              </div>
              <div class="content">
                  <div class="content__name">Dr. Pepper</div>
                  <div class="content__links">
                      <a href="#">settings</a>
                      <a href="#">log out</a>
                  </div>
              </div>
          </div>
          {% else %}
           <div class="d-flex">
               <div class="content">
                   <a href="{% url "login" %}" class="btn btn-outline-primary">Log in</a>
                   <a href="{% url "signup" %}" class="btn btn-primary">Sign up</a>
               </div>
          </div>
          {% endif %}
      </div>
    </nav>

    <main class="container mt-2">
        <div class="row">
            <div class="col vh-100">
            {% block content %}
            {% endblock %}
            </div>
            <div class="col-3">

                <section class="mb-3">
                    <h3>Popular tags</h3>
                    <div>
                        <span style="font-size: 0.8rem;">perl</span>
                        <span class="text-danger">python</span>
                        <span class="text-success">Success</span>
                        <span class="text-warning">Warning</span>
                        <span class="text-info">Info</span>
                        <span class="text-dark">Dark</span>
                    </div>
                </section>

                <section>
                    <h3>Best members</h3>
                    <div>
                        <a class="d-block" href="#">Member</a>
                        <a class="d-block" href="#">Member</a>
                        <a class="d-block" href="#">Member</a>
                        <a class="d-block" href="#">Member</a>
                        <a class="d-block" href="#">Member</a>
                        <a class="d-block" href="#">Member</a>
                        <a class="d-block" href="#">Member</a>
                    </div>
                </section>

            </div>
        </div>
    </main>

    <script src="/static/bootstrap-5.3.3-dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>