<nav aria-label="Pagination">
    <ul class="pagination justify-content-center">
        {% if page.has_previous %}
        <li class="page-item rounded-1">
            <a class="page-link" href="?page={{ page.previous_page_number }}">
                <i class="bi bi-chevron-left"></i>
            </a>
        </li>
        <li class="page-item">
            <a class="page-link" href="?page={{ page.previous_page_number }}">{{ page.previous_page_number }}</a>
        </li>
        {% endif %}

        <li class="page-item active" aria-current="page">
            <span class="page-link">{{ page.number }}</span>
        </li>

        {% if page.has_next %}
        <li class="page-item">
            <a class="page-link" href="?page={{ page.next_page_number }}">{{ page.next_page_number }}</a>
        </li>

        {% if page.paginator.num_pages > page.number|add:"1" %}
        <li class="page-item disabled">
            <span class="page-link">...</span>
        </li>
        <li class="page-item">
            <a class="page-link" href="?page={{ page.paginator.num_pages }}">{{ page.paginator.num_pages }}</a>
        </li>
        {% endif %}

        <li class="page-item">
            <a class="page-link" href="?page={{ page.next_page_number }}">
                <i class="bi bi-chevron-right"></i>
            </a>
        </li>
        {% endif %}
    </ul>
</nav>