<div class="card shadow-sm rounded-4 p-3 mb-2">
  <div class="row g-3 align-items-center">
    <div class="col-auto text-center">
      <div class="border rounded-3 overflow-hidden" style="width: 120px; height: 120px;">
        <img src="{{ question.questioner.profile.avatar.url }}" alt="img" class="img-fluid object-fit-cover w-100 h-100">
      </div>
      <div class="d-flex justify-content-center align-items-center mt-2">
        <button class="btn btn-white border-secondary rounded-circle d-flex justify-content-center align-items-center
                {% if question.user_vote == False %}active{% endif %}"
                style="width: 36px; height: 36px;"
                data-object-id="{{ question.id }}"
                data-is-like="0"
                data-is-question="1">
          <i class="bi bi-caret-down-fill"></i>
        </button>
        <div data-object-rating-counter="{{ question.id }}" class="mx-1 fw-bold fs-5" style="width: 30px;">
            {{ question.rating }}
        </div>
        <button class="btn btn-white border-secondary rounded-circle d-flex justify-content-center align-items-center
                {% if question.user_vote == True %}active{% endif %}"
                style="width: 36px; height: 36px;"
                data-object-id="{{ question.id }}"
                data-is-like="1"
                data-is-question="1">
          <i class="bi bi-caret-up-fill"></i>
        </button>
      </div>
    </div>
    <div class="col">
      <div class="d-flex flex-column h-100 justify-content-between">
        <div class="justify-content-between">
          <h5 class="card-title mb-2">
            <a href="{% url 'question' question.id %}" class="text-decoration-none">{{ question.title }}</a>
          </h5>
          <p class="card-text mb-3">
            {{ question.body }}
          </p>
        </div>
        <div class="d-flex justify-content-between align-items-center">
          <div>
            <a href="{% url 'question' question.id %}" class="text-primary text-decoration-none">
              Answer ({{ question.answer_count }})
            </a>
          </div>
          <div class="d-flex align-items-center gap-2 flex-wrap">
            <span class="text-muted">Tags:</span>
            {% for tag in question.tags.all %}
                <a class="tag" href="{% url 'tag' tag.name %}">{{ tag.name }}</a>
            {% endfor %}
          </div>
        </div>
        <small class="text-muted mt-1">Author: {{ question.questioner.username }}</small>
      </div>
    </div>
  </div>
</div>